Здравствуйте, {{ fio }}!<br><br>

Ваш аккаунт был успешно активирован на сайте СНТ "Степной Фазан".<br>
Для входа на сайт перейдите по ссылке: <a href="http://sfazan.ru/">sfazan.ru</a>. Логин: {{ login }}<br>